<!DOCTYPE html>
<html>
<head>
    <title>PICKMEUPYO</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="jquery.mobile-1.4.5.min.css"/>
    <script src="jquery-1.11.1.min.js"></script>
    <script src="jquery.mobile-1.4.5.min.js"></script>
    <!--<script src="//www.parsecdn.com/js/parse-1.3.1.min.js"></script>-->
    <!--<script type="application/javascript">-->
    <!--Parse.initialize("L3hd4DmdmrpAcerOX99nBv1ADLc4RbB48F1AXVD9", "nQWV3a2VO0orjRneEliJAhFVlWNG8kpi9mrrzh1J");-->
    <!--</script>-->
</head>
<body>

<!-- Start of first page -->
<div data-role="page" id="main">

    <div data-role="header">
        <h1>PICKMEUPYO</h1>
    </div>
    <!-- /header -->

    <div role="main" class="ui-content">
        <!--<p>I'm first in the source order so I'm shown as the page.</p>-->

        <!--<p>View internal page called <a href="#bar">bar</a></p>-->
        <form action="/addSubscriber" method="post">
            <input type="text" placeholder="Child's Yo!name" name="senderTxt">
            <input type="text" placeholder="Parent's Yo!name" name="listenerTxt">
            <button type="submit" name="submitBtn">Submit</button>
        </form>
    </div>
    <!-- /content -->

    <div data-role="footer">
        <h4><a data-rel="popup" href="#helpDiv">How do I use this?</a> </h4>
        <div data-role="popup" id="helpDiv">
            <a href="#" data-rel="back" data-role="button" data-theme="a" data-icon="delete" data-iconpos="notext" class="ui-btn-right">Close</a>
            When your kids need to be picked up from soccer practice, they can just send a Yo to PICKMEUPYO with their location, and you receive a Yo that opens up the Uber app with their current location so that you can summon a driver to pick them up.
        </div>
    </div>
    <!-- /footer -->
</div>
<!-- /page -->

<!-- Start of second page -->
<div data-role="page" id="success">

    <div data-role="header">
        <h1>PICKMEUPYO</h1>
    </div>
    <!-- /header -->

    <div role="main" class="ui-content">
        Success!

        <p><a href="#main">Back to main</a></p>
    </div>
    <!-- /content -->

    <div data-role="footer">
        <h4><a data-rel="popup" href="#helpDiv">How do I use this?</a> </h4>
        <div data-role="popup" id="helpDiv">
            <a href="#" data-rel="back" data-role="button" data-theme="a" data-icon="delete" data-iconpos="notext" class="ui-btn-right">Close</a>
            When your kids need to be picked up from soccer practice, they can just send a Yo to PICKMEUPYO with their location, and you receive a Yo that opens up the Uber app with their current location so that you can summon a driver to pick them up.
        </div>
    </div>
    <!-- /footer -->
</div>
<!-- /page -->
</body>
</html>