<!DOCTYPE html>
<html>
<head>
    <title>PICKMEUPYO</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="jquery.mobile-1.4.5.min.css"/>
    <script src="jquery-1.11.1.min.js"></script>
    <script src="jquery.mobile-1.4.5.min.js"></script>
    <!--<script src="//www.parsecdn.com/js/parse-1.3.1.min.js"></script>-->
    <!--<script type="application/javascript">-->
    <!--Parse.initialize("L3hd4DmdmrpAcerOX99nBv1ADLc4RbB48F1AXVD9", "nQWV3a2VO0orjRneEliJAhFVlWNG8kpi9mrrzh1J");-->
    <!--</script>-->
</head>
<body>

<!-- Start of first page -->
<div data-role="page" id="main">

    <div data-role="header">
        <h1>PICKMEUPYO</h1>
    </div>
    <!-- /header -->

    <div role="main" class="ui-content">
        Success!

        <p><a href="/">Back to main</a></p>
    </div>
    <!-- /content -->

    <div data-role="footer">
        <h4><a href="#">How do I use this?</a> </h4>
    </div>
    <!-- /footer -->
</div>
<!-- /page -->

<!-- Start of second page -->
<div data-role="page" id="success">

    <div data-role="header">
        <h1>PICKMEUPYO</h1>
    </div>
    <!-- /header -->

    <div role="main" class="ui-content">
        Success!

        <p><a href="#main">Back to main</a></p>
    </div>
    <!-- /content -->

    <div data-role="footer">
        <h4><a href="#">How do I use this?</a> </h4>
    </div>
    <!-- /footer -->
</div>
<!-- /page -->
</body>
</html>